@model IEnumerable<Model.DTO.WorkshiftHistoryDTO>

@{
	ViewBag.Title = "DistrictPart";
	string username = (Session["user"] as Model.DTO.UserDTO).UserName;
	int currentUserId = (Session["user"] as Model.DTO.UserDTO).Id;
}

@Scripts.Render("~/bundles/coordinates")

<div>
	<form method="post">
		<div class="page-header">
			<h1>@Resources.Resource.Greeting,<small>@username</small></h1>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">@Resources.Resource.WorkShift</h3>
			</div>
			<div class="panel-body">
				<div class="bs-callout bs-callout-primary">
					<h4>@Resources.Resource.DistrictPartHeader1</h4>
					@Resources.Resource.DistrictPartAttention1
				</div>
				<div class="bs-callout bs-callout-warning">
					<h4>@Resources.Resource.DistrictPartHeader2</h4>
					@Resources.Resource.DistrictPartAttention2
				</div>
			</div>
			<div class="panel-footer">
				<div class="btn-group" aria-label="...">
                    <input type="hidden" id="Id" value="@currentUserId" />
                    <input type="button" class="btn btn-success" id="btn_begin" value=@Resources.Resource.WorkShiftStart />
                    <input type="button" class="btn btn-success" id="btn_end" value=@Resources.Resource.WorkShiftEnd />
				</div>
			</div>

            <div class="panel-heading">
                <h3 class="panel-title"> @Resources.Resource.Citydistricts</h3>
            </div>
  
            <div id="accordion" class="panel-group">
                <div class="panel panel-default">

                    @foreach (var district in ViewBag.Districts)
                    {
                        <div class="panel-heading">
                            <h4 style="background-color:transparent">
                                <a href="#collapse-@district.DistrictName" data-parent="#accordion" class="btn-link" data-toggle="collapse"> <span class="badge">@district.DriverCount</span>  @district.DistrictName</a>
                            </h4>
                        </div>


                        <div id="collapse-@district.DistrictName" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    @foreach (var driver in district.Drivers)
                                    {
                                        <li>@driver</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    }
                </div>
            </div>



			<div class="table-list">
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr class="info">
								<th>
									@Resources.Resource.Driver
								</th>
								<th>
									@Resources.Resource.WorkStarted
								</th>
								<th>
									@Resources.Resource.Contact
								</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td>
										<div class="editor_field"></div>
										@Html.DisplayFor(modelItem => item.Driver.UserName)
									</td>
									<td>
										<div class="editor_field"></div>
										@Html.DisplayFor(modelItem => item.WorkStarted)
									</td>
									<td>
										<div class="editor_field"></div>
										@Html.DisplayFor(modelItem => item.Driver.Email)
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</form>
</div>
