@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>@Resources.Resource.PersonalCabinet</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<meta name="viewport" content="width=device-width" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
</head>
<body style="padding:0">
	<div id="driver-bootstrap-menu" class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Logo</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse navbar-menubuilder">
				<ul class="nav navbar-nav navbar-left">
					<li>
						@Html.ActionLink(Resources.Resource.MainLink, "Index", "Home")
					</li>
					<!-- Менюшки!!!
						Індекс тимчасовий!!!-->
					<li class="active">
						<a data-toggle="tab" href="#Home">@Resources.Resource.Home</a>
					</li>
					<li>
						<a data-toggle="tab" href="#Settings">@Resources.Resource.Settings</a>
					</li>
					<li>
						<a data-toggle="tab" href="#Messages">@Resources.Resource.Messages</a>
					</li>
					<li>
						<a data-toggle="tab" href="#District">@Resources.Resource.District</a>
					</li>
				</ul>

			</div>
		</div>
	</div>
	<div>
		<div id="driver-content" class="tab-content">
			<div id="Home" class="tab-pane fade in active">
				<h2>
					@Resources.Resource.Home
				</h2>
				<p>
					placeHolder
				</p>
			</div>
			<div id="Settings" class="tab-pane fade">
				<h2>
					@Resources.Resource.Settings
				</h2>
				<p>
					placeHolder2
				</p>
			</div>
			<div id="Messages" class="tab-pane fade">
				<h2>
					@Resources.Resource.Messages
				</h2>
				<p>
					placeHolder3
				</p>
			</div>
			<div id="District" class="tab-pane fade">
				<h2>
					@Resources.Resource.District
				</h2>
				<p>
					@{
						Html.RenderAction("DistrictPart", "Driver");
					}
				</p>
			</div>
		</div>
	</div>

</body>
</html>


