@model Model.DTO.AddressDTO

@{
    ViewBag.Title = "DeleteAddress";
}
<legend>@Resources.Resource.TitleDeleteAddress</legend>


<h3>@Resources.Resource.ConfirmDeletingAddress</h3>
<fieldset>


    @Html.HiddenFor(model => model.AddressId)

    <div class="display-label">
        @Html.Label(@Resources.Resource.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
        @Html.Label(@Resources.Resource.Street)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Street)
    </div>

    <div class="display-label">
        @Html.Label(@Resources.Resource.NumberHouse)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Number)
    </div>

    <div class="display-label">
        @Html.Label(@Resources.Resource.Comment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comment)
    </div>
    @Html.HiddenFor(model => model.UserId)


</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value=@Resources.Resource.deleteString />
    </p>
    <p>
        @Html.ActionLink(@Resources.Resource.MainLink, "Index")
    </p>
}
