@model Model.DTO.UserDTO



<tr>
    <td>
        @Html.Label(Resources.Resource.UserId)

    </td>
    <td>
        @Html.HiddenFor(x => Model.Id)

        @Html.DisplayFor(x => Model.Id)
    </td>
</tr>

<tr>
    <td>@Html.Label(Resources.Resource.UserName)</td>

    <td>
        @Html.EditorFor(x => Model.UserName)
    </td>
</tr>

<tr>
<td>@Html.Label(Resources.Resource.Password)</td>
    <td>
        @Html.EditorFor(x => x.Password)
    </td>
</tr>

<tr>
<td>@Html.Label(Resources.Resource.Email)</td>
 <td>
        @Html.EditorFor(x => Model.Email)
    </td>
</tr>

<tr>
<td>@Html.Label(Resources.Resource.Role)</td>
    <td>
        @Html.DropDownListFor(x => Model.Role.Name,
            new SelectList(Enum.GetValues(typeof(Common.Enum.AvailableRoles))))
    </td>
    </tr>



