@model Model.DTO.CarDTO

@{
	ViewBag.Title = "CarDelete";
}
@Styles.Render("~/Content/BootstrapCallout.css")
<div>
	<form method="post">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="panel-title">[Delete info]</h3>
			</div>
			<div class="bs-callout bs-callout-danger">
				<h4>Attention!</h4>
				You are attempting to delete all information about selected car. Deleted information will be lost.
			</div>
			<div class="panel-footer">
				<input class="btn btn-warning" type="reset" value="[Reset]" style="margin: 0 auto; width:200px" />
			</div>
			<div>
				@Html.AntiForgeryToken()
				<table class="table table-hover">
					<tr>
						<td><label for="inputCarName" class="control-label">@Resources.Resource.CarName</label></td>
						<td>
							@Html.DisplayFor(model => model.CarName)
						</td>
					</tr>
					<tr>
						<td><label for="inputCarNumber" class="control-label">@Resources.Resource.CarNumber</label></td>
						<td>
							@Html.DisplayFor(model => model.CarNumber)
						</td>
					</tr>
					<tr>
						<td><label for="inputCarOccupation" class="control-label">@Resources.Resource.CarOccupation</label></td>
						<td>
							@Html.DisplayFor(model => model.CarOccupation)
						</td>
					</tr>
					<tr>
						<td><label for="inputCarClass" class="control-label">@Resources.Resource.CarClass</label></td>
						<td>
							@EnumHelper.GetStringifyClass(Model.CarClass)
						</td>
					</tr>
					<tr>
						<td><label for="inputCarPetrolType" class="control-label">@Resources.Resource.CarPetrolType</label></td>
						<td>
							@EnumHelper.GetStringifyPetrol(Model.CarPetrolType)
						</td>
					</tr>
					<tr>
						<td><label for="inputCarPetrolConsumption" class="control-label">@Resources.Resource.CarPetrolConsumption</label></td>
						<td>
							@Html.DisplayFor(model => model.CarPetrolConsumption)
						</td>
					</tr>
					<tr>
						<td><label for="inputCarManufactureDate" class="control-label">@Resources.Resource.CarManufactureDate</label></td>
						<td>
							@Html.DisplayFor(model => model.CarManufactureDate)
						</td>
					</tr>
					<tr>
						<td><label for="inputCarState" class="control-label">@Resources.Resource.CarState</label></td>
						<td>
							@EnumHelper.GetStringifyState(Model.CarState)
						</td>
					</tr>
				</table>
			</div>
			<div class="panel-footer">
				<div class="btn-group" role="group" aria-label="...">
					<input type="submit" value="Delete" class="btn btn-danger"/>
					@Html.ActionLink("Back to List", "CarEditor", "Settings", null, new { @class = "btn btn-info" })
				</div>
			</div>
	</form>
</div>
