@model IEnumerable<Model.DTO.CarDTO>

@{
	ViewBag.Title = "CarEditor";
	string username = (Session["user"] as Model.DTO.UserDTO).UserName;
}
@Styles.Render("~/Content/BootstrapCallout.css")
<div>
	<div class="page-header">
		<h1>@Resources.Resource.Greeting,<small>@username</small></h1>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">@Resources.Resource.Garage</h3>
		</div>
		<div class="panel-body">
			<div class="bs-callout bs-callout-primary">
				<h4>@Resources.Resource.GarageHeader1</h4>
				@Resources.Resource.GarageAttention1
			</div>
			<div class="bs-callout bs-callout-warning">
				<h4>@Resources.Resource.GarageHeader2</h4>
				@Resources.Resource.GarageAttention2
			</div>
		</div>
		<div class="panel-footer">
			@Html.ActionLink(@Resources.Resource.AddNewCar, "CarCreate", "Settings", null, new { @class = "btn btn-success" })
		</div>
		<div class="table-list">
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr class="info">
							<th>
								@Resources.Resource.CarName
							</th>
							<th>
								@Resources.Resource.CarNumber
							</th>
							<th>
								@Resources.Resource.CarState
							</th>
							<th>
								@Resources.Resource.ActionsColumn
							</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>
									<div class="editor_field"></div>
									@Html.DisplayFor(modelItem => item.CarName)
								</td>
								<td>
									<div class="editor_field"></div>
									@Html.DisplayFor(modelItem => item.CarNumber)
								</td>
								<td>
									<div class="editor_field"></div>
									@EnumHelper.GetStringifyState(item.CarState)
								</td>
								<td>
									@Html.ActionLink(@Resources.Resource.editString, "CarEdit", "Settings", new { id = item.Id }, new { @class = "btn btn-default" })
									@Html.ActionLink(@Resources.Resource.detailsString, "CarDetails", "Settings", new { id = item.Id }, new { @class = "btn btn-default" })
									@Html.ActionLink(@Resources.Resource.deleteString, "CarDelete", "Settings", new { id = item.Id }, new { @class = "btn btn-default" })
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>