@model IEnumerable<Model.DTO.CarDTO>

@{
	ViewBag.Title = "CarEditor";
}
@Styles.Render("~/Content/BootstrapCallout.css")
<div>
	<div class="page-header">
		<h1>Welcome home,<small>[UserName]</small></h1>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">[Garage]</h3>
		</div>
		<div class="panel-body">
			<div class="bs-callout bs-callout-primary">
				<h4>This is your garage</h4>
				All information about your car or cars will be displayed here. You can always view, add, edit or delete each car you want.
			</div>
			<div class="bs-callout bs-callout-warning">
				<h4>Keep in mind</h4>
				Always keep in check your information. Do not forget to update information you submited.
			</div>
		</div>
		<div class="panel-footer">
			@Html.ActionLink("[Add new Car?]", "CarCreate", "Settings", null, new { @class = "btn btn-success" })
		</div>
		<div class="table-list">
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr class="info">
							<th>
								@Resources.Resource.CarName
							</th>
							<th>
								@Resources.Resource.CarNumber
							</th>
							<th>
								@Resources.Resource.CarState
							</th>
							<th>
								[Actions]
							</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>
									<div class="editor_field"></div>
									@Html.DisplayFor(modelItem => item.CarName)
								</td>
								<td>
									<div class="editor_field"></div>
									@Html.DisplayFor(modelItem => item.CarNumber)
								</td>
								<td>
									<div class="editor_field"></div>
									@Html.DisplayFor(modelItem => item.CarState)
								</td>
								<td>
									@Html.ActionLink(@Resources.Resource.editString, "CarEdit", "Settings", new { id = item.Id }, new { @class = "btn btn-default" })
									@Html.ActionLink("Details", "CarDetails", "Settings", new { id = item.Id }, new { @class = "btn btn-default" })
									@Html.ActionLink(@Resources.Resource.deleteString, "CarDelete", "Settings", new { id = item.Id }, new { @class = "btn btn-default" })
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>