@model IList<Model.DTO.UserDTO>

@{
    ViewBag.Title = @Resources.Resource.UserMenu;
}

<h2>@Resources.Resource.UserMenu</h2>

<table class="table">
    <tr>
        <th>@Html.Label(Resources.Resource.UserId) </th>
        <th>@Html.Label(Resources.Resource.UserName) </th>
        <th>@Html.Label(Resources.Resource.Email) </th>
        <th>@Html.Label(Resources.Resource.Role) </th>
        <th>@Html.Label(Resources.Resource.Description) </th>
        <th>@Resources.Resource.Action</th>
    </tr>

    @foreach (var i in Model)
    {
     <tr>
        @Html.Partial("_ShowUser",i)
         <td>@Html.ActionLink(Resources.Resource.editString, "ChangeMenu", new { id = i.Id})</td>
    </tr>
    }

</table>
        <p>
            @Html.ActionLink("AddUser", "AddUser", "Administration")
        </p>