@model IList<Model.DTO.UserDTO>

@{
    ViewBag.Title = "UsersMenu";
}

<h2>Users Menu</h2>

<table class="table">
    <tr>
        <td><strong> @Html.LabelFor(x=>Model[0].Id)</strong></td>
        <td><strong>@Html.LabelFor(x => Model[0].UserName)</strong></td>
        <td><strong>@Html.LabelFor(x => Model[0].Email)</strong></td>
        <td><strong>@Html.LabelFor(x => Model[0].Role.Name)</strong></td>
        <td><strong>@Html.LabelFor(x => Model[0].Role.Description)</strong></td>
        <td><strong>Edit</strong></td>
    </tr>

    @foreach (var i in Model)
    {
     <tr>
        @Html.Partial("_ShowUser",i)
         <td>@Html.ActionLink("Edit", "ChangeMenu", new { id = i.Id})</td>
    </tr>
    }

</table>